@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf");
 }

 @font-face {
  font-family: "Airfool";
  src: url("./fonts/Airfool.otf");
 }


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
}

html{
  font-family: 'Poppins';
}

h1{
  font-family: 'Airfool';
  margin-top: 50px;
  font-size: 7em;
  text-align: center;
}

.point{
  margin: auto;
  text-align: center;
  vertical-align: center;
  background-color: black;
  color: white;
  font-size: 2em;
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.quizz{
  background-color: #FAC240;
  border-radius: 20px;
  padding: 50px;
  width: 60%;
  margin: 50px auto 50px auto;
}

.quizz h2{
  font-size: 1.5em;
  text-transform: uppercase;
}

.quizz button {
  background-color: black; /* Green */
  border-radius: 30px;
  border: none;
  color: white;
  margin-top: 10px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.quizz label {
  height: 60px;
  width: 180px;
  /* border-radius: 50%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color:black;
  background-color: white;
  box-shadow: 3px 3px 20px -9px rgba(0,0,0,0.75);
  margin: 10px 10px;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}

.quizz label:hover {
  transition: all .3s;
  opacity: .8;
}

.quizz input[type=radio] {
  position: absolute;
  top: -300px;
}

.answer{
  display: flex;
}


.themes{
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: #FAC240;
}

.themes-form{
  text-align: center;
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}

.themes-form h2{
  font-size: 2.5em;
}


.allCorrectAnswers{
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
  justify-content: center;
  margin :auto ;
  width: 90%;
  text-align: center;
}

.allCorrectAnswers img{
  border-radius:50%;
  width: 30%;
}

.allCorrectAnswers h2{
  font-size: 1.5em;
}

correctAnswerInfos{
  text-align: left;
}

.correctAnswer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}


.themes-form select{
  width: 100%;
  height: 40px;
  font-size: 1.5em;
  border : none;
  background-color: black;
  color: white;
}

.themes-form input {
  background-color: white; /* Green */
  border-radius: 30px;
  border: none;
  margin-top: 10px;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}